<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{dish.image}} alt={{dish.name}}>
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail', prev]"><span
                        class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <button mat-button [routerLink]="['/dishdetail', next]"><span
                        class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="container" *ngIf="dish" fxLayout="column" fxFlex="40">

        <mat-list fxFlex>
            <h3>Comments</h3>
            <mat-list-item *ngFor="let c of dish.comments">
                <h4 mat-line>{{c.comment}}</h4>
                <p mat-line>{{c.rating}} Stars</p>
                <p mat-line><span>-- {{c.author}} {{c.date | date}}</span></p>
            </mat-list-item>
            <mat-list-item *ngIf="commentForm.valid">
                <h3 mat-line>{{commentForm.value.comment}}</h3>
                <p mat-line>{{commentForm.value.rating}} Stars</p>
                <p mat-line><span>-- {{commentForm.value.author}} {{commentForm.value.date | date}}</span></p>
            </mat-list-item>
        </mat-list>


        <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
            <mat-form-field>
                <input matInput formControlName="author" placeholder="Name" type="text">
                <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
            </mat-form-field>
            <mat-slider class="half-width" min="1" max="5" step="1" value="2" thumbLabel=true tickInterval="1"
                formControlName="rating"></mat-slider>
            <mat-form-field>
                <textarea matInput formControlName="comment" placeholder="Your comment" type="text"></textarea>
                <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
            </mat-form-field>
            <button [disabled]="cform.form.invalid" type="submit" mat-button
                class="background-primary text-floral-white">Submit</button>
        </form>


    </div>
    <div [hidden]="dish">
        <mat-spinner></mat-spinner>
        <h4>Loading . . . Please Wait</h4>
    </div>


</div>